*{
    margin: 0;
    padding: 0;

}

.container {
    /* border: solid; */
    height: 100vh;
    background-color: rgb(255, 255, 255);
    /* background: url('') */
}

.button {
    /* background-color: green; */
    background-image: url(./images/u_logo.png)

}


.detail {
    border: solid grey;
    /* display: flex; */
    margin-top: 30px;
}

.detail p {
color: rgb(2, 2, 213);
}


.detail h4 {
color: rgb(97, 0, 103);
}